a{
    color: white;
    
}
a:hover{
    color: white;
}

.box.box-primary {
    border-top-color: $lbp-yellow;
}

.main-header{
    background: $lbp-green;
}

.main-sidebar{
    background: $lbp-gray;
    color: #4b646f;
}

.custom-footer{
    text-align: center;
    padding: 0px;
    margin-bottom: 0;
}
.header{
    background: #1a2226;
}

.row{
    background: $lbp-dashboard-background;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:visited,.btn-primary:active{
    background-color: $lbp-green;
    border-color: $lbp-green;
}

.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:visited,.btn-success:active{
    background-color: $lbp-yellow;
    border-color: $lbp-yellow;
}

.btn-danger, .btn-danger:hover, .btn-danger:focus, .btn-danger:visited{
    background-color: red;
    border-color: red;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover ,.nav>li>a:focus, .nav>li>a:hover{
    background: $lbp-darkgreen;
    color: white;
}

.skin-lbp .sidebar-menu>li.active>a {
    border-left-color: $lbp-yellow;
}

.skin-lbp .sidebar-menu>li:hover>a, .skin-lbp .sidebar-menu>li.active>a, .skin-lbp .sidebar-menu>li.menu-open>a {
    color: #fff;
    background: $lbp-darkgray;
}
.skin-lbp .sidebar-menu>li.active>a{
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-color: $lbp-yellow;
    border-bottom-width: 0px;
    border-left-width: 5px;
}

.logo{
    background: $lbp-darkgreen;
}
.main-footer{
    padding: 10px;
}
.custom-username{
    color: black !important;
}

a:visited { COLOR: white;}