.login-container{
    margin-top: 50px;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
 }

 .custom-login-form-container{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    padding: 0 !important;

 }
 .form-label{
     text-align: right;
 }
 .custom-button, .custom-button:hover{
    background-color: $lbp-yellow;
    border-color: $lbp-yellow;
    color: white;
    width: 250px;
 }
 .custom-card{
    padding: 40px 40px;
    background: $lbp-green;
    color: white;
 }
 .custom-header{
    background: white;
   //  color: white;
    font-size: 30px;
    padding: 30px 0;
 }
 .custom-login-header{
   background: white;
}
 .custom-border1{
    border-radius: 20px 20px 0px 0px;
 }
 .custom-border2{
    border-radius: 20px;
 }
 .form-check{
     text-align: left;
 }
 .invalid-feedback{
    color:red;
    background: #ffffff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

.custom-user-management-card{
   width: 500px;
   margin-left: 230px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.custom-container{
   background: white;
}
.label-left{
   text-align:left;
}
.label-right{
   text-align:right;
}
.custom-content-header{
   margin-left: 230px;
   padding-bottom: 20px;
   padding-top: 20px;
}
.custom-container-footer{
   margin-left: 230px;
   padding: 50px 0;
}

.nav-lbp-logo{
   height: 110px;
   padding: 10px;
}
.input-group-addon{
   background: #ffc42d;
   color: white;
   border-color: #ffc500;
   border-left-width: 3px;
   border-top-width: 3px;
   border-bottom-width: 3px;
}
.custom-250-width{
   width: 250px;
}