
// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap'; // Replace version based on login page assets

// Custom CSS
@import 'custom';

// FE Plugins
@import 'fe-plugins';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

