a {
  color: white;
}

a:hover {
  color: white;
}

.box.box-primary {
  border-top-color: #fec340;
}

.main-header {
  background: #00b446;
}

.main-sidebar {
  background: #222d32;
  color: #4b646f;
}

.custom-footer {
  text-align: center;
  padding: 0px;
  margin-bottom: 0;
}

.header {
  background: #1a2226;
}

.row {
  background: #ecf0f5;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:visited,
.btn-primary:active {
  background-color: #00b446;
  border-color: #00b446;
}

.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:visited,
.btn-success:active {
  background-color: #fec340;
  border-color: #fec340;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:visited {
  background-color: red;
  border-color: red;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover,
.nav > li > a:focus,
.nav > li > a:hover {
  background: #009233;
  color: white;
}

.skin-lbp .sidebar-menu > li.active > a {
  border-left-color: #fec340;
}

.skin-lbp .sidebar-menu > li:hover > a,
.skin-lbp .sidebar-menu > li.active > a,
.skin-lbp .sidebar-menu > li.menu-open > a {
  color: #fff;
  background: #1e282c;
}

.skin-lbp .sidebar-menu > li.active > a {
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-color: #fec340;
  border-bottom-width: 0px;
  border-left-width: 5px;
}

.logo {
  background: #009233;
}

.main-footer {
  padding: 10px;
}

.custom-username {
  color: black !important;
}

a:visited {
  COLOR: white;
}

