<template>
    <div>
        <div class="col-md-2" v-show="showBranches">
            <div class="form-group">
                <label>Branch</label>
                <select class="form-control search-branch" @change="setAgentData($event)" v-model="branch">
                    <option>All</option>
                    <option v-for="branch in this.dataBranches" :value="branch.id">{{ branch.name }}</option>
                </select>
            </div>
        </div>
        <div class="col-md-4" v-show="showAgents">
            <div class="form-group">
                <label>Agent</label>
                <select class="form-control search-agent" >
                    <option>All</option>
                    <option v-for="user in this.dataUsers">{{ user.firstname }}</option>
                </select>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['branches', 'users', 'userRole', 'user'],
        data() {
            return {
                dataBranches: this.branches,
                dataUsers: '',
                branch: '',
                showBranches: true,
                showAgents: true,
            }
        },
        methods: {
            setAgentData(event){
                let agents = this.users.filter((agent) => {
                    return agent.branch_id == event.target.value;
                });
                this.dataUsers = agents;
            },
            dropdownFilter(){

                // Hide/Unhide Dropdown Filter based on Role
                if(this.userRole == 'branch admin'){
                    this.showBranches = false;
                    let agents = this.users.filter((agent) => {
                        return agent.branch_id == this.user.branch_id && agent.id != this.user.id;
                    });
                    this.dataUsers = agents;
                }

                if(this.userRole == 'agent'){
                    this.showBranches = false;
                    this.showAgents = false;
                }
            },
        },
        mounted() {
            this.dropdownFilter();
        }
    }
</script>
