<template>
    <div>
        <canvas id="statistic"></canvas>
    </div>
</template>

<script>
import Chart from 'chart.js';

export default {
    data(){
        return {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        }
    },
    methods: {
        renderData(){
            const ctx = document.getElementById('statistic');
            ctx.height = 110;
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: this.labels,
                    datasets: [
                        {
                            label: 'Branch',
                            data: [ 2, 3, 20, 3, 5, 6, 2, 1],
                        },
                        { // another line graph
                            label: 'Agent',
                            data: [4.8, 12.1, 12.7, 6.7, 139.8, 116.4, 50.7, 49.2],
                            backgroundColor: [
                            'rgba(71, 183,132,.5)', // Green    
                            'rgba(71, 183,132,.5)', // Green
                            'rgba(71, 183,132,.5)', // Green
                            'rgba(71, 183,132,.5)', // Green
                            'rgba(71, 183,132,.5)', // Green
                            'rgba(71, 183,132,.5)', // Green
                            'rgba(71, 183,132,.5)', // Green
                            'rgba(71, 183,132,.5)', // Green
                            ],
                            borderColor: [
                            '#47b784',
                            ],
                            borderWidth: 3
                        }
                    ],
                },
                options: {
                    legend: {
                        display: false
                    },
                }
            });
        }
    },
    mounted() {
        this.renderData();
    }
}
</script>
